<!DOCTYPE html>
<html>
<head>
  <title>Cerca Pizza</title>
  <link rel="stylesheet" href="/css/stile.css" />
  <link rel="stylesheet" href="/css/form.css" />
</head>
<body>
  <div><a href="/"><img src="/images/logo.png" width="30%" class="logo"/></a></div>
  <div class="column-flex-container">
    <form class="form-item" th:action="@{/searchPizza}" method="POST">
	  <h1>Inserisci il nome della pizza che vuoi cercare</h1>
      <div class="form-group">
          <label>Nome:</label>
          <input required type="text" th:value="${nome}" name="nome" />
        </div>
        <div style="color: red;">
         <span th:text="${messaggioErrore}">Errore</span>
	  </div>
          <button type="submit" class="submit-button">Cerca</button>         
    </form>
  </div>
</body>
</html>