<!DOCTYPE html>
<html>
  <head>
    <title>Nuova pizza</title>
    <link rel="stylesheet" href="/css/stile.css?version=3" />
  </head>
  <body>
	<a href="/"><img src="images/logo.png" class="logo" /></a>
    <div class="red-container">
      <h1>Aggiungi una pizza</h1>
      <form th:action="@{/pizze}" method="POST" th:object="${pizza}">

        <div class="form-group">
          <label>Nome della pizza:</label>
          <input required type="text" th:field="${pizza.nome}" />
        </div>
        <div class="form-group">
          <label>Descrizione:</label>
          <input required type="text" th:field="${pizza.descrizione}" />
        </div>
        <div class="form-errors" th:if="${#fields.hasErrors('nome')}">
                <span th:errors="*{nome}"></span>
            </div>
        <div class="form-group">
          <button type="submit" class="submit-button">Conferma</button>
        </div>
      </form>
    </div>
  </body>
</html>