<!DOCTYPE html>
<html>

<head>
	<title>
		SiwPizzeria - Homepage
	</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<div><img src="/images/logo.png" width="35%" class="logo"/></div>
	<div>
	<div class="red-flex-container">
		<h1>Sezione Pizze</h1>
		<a href="/pizze" class="red-button">Elenco Pizze</a> 
		<br>
		<a href="/formNewPizza" class="red-button">Aggiungi una pizza</a>
		<br>
		<a href="/formSearchPizza" class="red-button"> Cerca una pizza per nome </a>
	</div>>
	<div class="red-flex-container">
		<h1>Sezione Ingredienti</h1>
		<a href="/ingredienti" class="red-button">Elenco Ingredienti</a> 
		<br>
		<a href="/formNewIngrediente" class="red-button">Aggiungi un Ingrediente</a>
		<br>
	</div>
	</div>
</body>

</html>