<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
	<link rel="stylesheet" href="/css/stile.css" />
	<link rel="stylesheet" href="/css/orari.css" />
	<title>
		Orari
	</title>
</head>
<body>
	<nav></nav>
		<!--HEADER-->
		<header>
			<div class="header-container">	
				<img id="siwPizzeria" src="/images/siwPizzeriaD.gif">
				
				<div class="search-container">
					<form class="search-form" th:action="@{/searchPizza}" method="POST" th:object="${searchPizza}">
						<div class="searchSubmit-container">
					    	<div class="form-group">
					        	<input class="search-input" required type="text" placeholder="Cerca una pizza..." th:field="${searchPizza.nome}" />
					        </div>
					        <button type="submit" class="search-button"><i class="fa fa-search"></i></button>
						</div>
						<div th:if="${#fields.hasErrors('nome')}" class="error-container">
							<span th:errors="*{nome}" class="error-message"></span>
						</div>
					</form>
				</div>
				
				<span>
					<a href="/" class="header-item">
									<img src="images/header/pizza.png" alt="Homepage" class="image">
									<span>HOMEPAGE</span>
					</a>
				</span>	
				<span>
					<a href="/redirectByRole" class="header-item">
									<img src="images/header/menu.png" alt="Menu" class="image">
									<span>MENU</span>
					</a>
				</span>	
				<span>
					<a href="/carrello" class="header-item">
						<img src="/images/header/carrello.png" alt="Carrello" class="image">
						<span>CARRELLO</span>
						<span class="cart-count" th:if="${totalPizzaCount > 0}" th:text="${totalPizzaCount}"></span>
					</a>
				</span>		
				<span>
					<a href="/orari" class="header-item">
									<img src="images/header/orologio.png" alt="Orari" class="image">
									<span>ORARI</span>
					</a>
				</span>
				<span>
					<a th:href="${authentication != null ? '/user' : '/login'}" class="header-item">
				    	<img src="images/header/loginIcon.png" alt="Account" class="image">
						<span class="user-link">
					        <span>ACCOUNT</span>
					        <span th:if="${authentication != null}">
					        	<p id="user"><span th:text="${authentication.principal.username}">No Username</span></p>
					        </span>
						</span>
				   </a>
				</span>
			</div>
		</header>
		
		<section>
			<div class="main-container">
				<div class="orari-container">
					<span><img src="/images/orari/orariImg.png" id="your-profile-img"></span>
					<table class="orari-table">
		                <thead>
		                    <tr>
		                        <th>Giorno</th>
		                        <th>Orario di Apertura</th>
		                        <th>Orario di Chiusura</th>
		                    </tr>
		                </thead>
						 <tbody>
		                    <tr>
		                        <td>Lunedì</td>
		                        <td>12:30</td>
		                        <td>22:00</td>
		                    </tr>
		                    <tr>
		                        <td>Martedì</td>
		                        <td>12:30</td>
		                        <td>22:00</td>
		                    </tr>
		                    <tr>
		                        <td>Mercoledì</td>
		                        <td>12:30</td>
		                        <td>22:00</td>
		                    </tr>
		                    <tr>
		                        <td>Giovedì</td>
		                        <td>12:30</td>
		                        <td>22:00</td>
		                    </tr>
		                    <tr>
		                        <td>Venerdì</td>
		                        <td>12:30</td>
		                        <td>22:00</td>
		                    </tr>
		                    <tr>
		                        <td>Sabato</td>
		                        <td>12:30</td>
		                        <td>22:00</td>
		                    </tr>
		                    <tr>
		                        <td>Domenica</td>
		                        <td>12:00</td>
		                        <td>22:00</td>
		                    </tr>
		                </tbody>
		            </table>
		        </div>
		    </div>
		</section>
				</div>
			</div>
		</section>
		
		<footer>
			<div class="footer-container">
			</div>
		</footer>
</body>
</html>