<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
		<link rel="stylesheet" href="/css/stile.css" />
		<link rel="stylesheet" href="/css/ordini.css" />
		<title>
			I tuoi ordini
		</title>
</head>
<body>
	<nav></nav>
		<!--HEADER-->
		<header>
			<div class="header-container">	
				<img id="siwPizzeria" src="/images/siwPizzeriaD.gif">
				
				<div class="search-container">
					<form class="search-form" th:action="@{/searchPizza}" method="POST" th:object="${searchPizza}">
						<div class="searchSubmit-container">
					    	<div class="form-group">
					        	<input class="search-input" required type="text" placeholder="Cerca una pizza..." th:field="${searchPizza.nome}" />
					        </div>
					        <button type="submit" class="search-button"><i class="fa fa-search"></i></button>
						</div>
						<div th:if="${#fields.hasErrors('nome')}" class="error-container">
							<span th:errors="*{nome}" class="error-message"></span>
						</div>
					</form>
				</div>
				
				<span>
					<a href="/" class="header-item">
									<img src="/images/header/pizza.png" alt="Homepage" class="image">
									<span>HOMEPAGE</span>
					</a>
				</span>	
				<span>
					<a href="/redirectByRole" class="header-item">
									<img src="/images/header/menu.png" alt="Menu" class="image">
									<span>MENU</span>
					</a>
				</span>	
				<span>
					<a href="/carrello" class="header-item">
						<img src="/images/header/carrello.png" alt="Carrello" class="image">
						<span>CARRELLO</span>
						<span class="cart-count" th:if="${totalPizzaCount > 0}" th:text="${totalPizzaCount}"></span>
					</a>
				</span>		
				<span>
					<a href="/orari" class="header-item">
									<img src="/images/header/orologio.png" alt="Orari" class="image">
									<span>ORARI</span>
					</a>
				</span>
				<span>
					<a th:href="${authentication != null ? '/user' : '/login'}" class="header-item">
				    	<img src="/images/header/loginIcon.png" alt="Account" class="image">
						<span class="user-link">
					        <span>ACCOUNT</span>
					        <span th:if="${authentication != null}">
					        	<p id="user"><span th:text="${authentication.principal.username}">No Username</span></p>
					        </span>
						</span>
				   </a>
				</span>
			</div>
		</header>
			<section>
				<div class="main-container">
					<div class="orders-container">
						<span><img src="/images/ordini/yourOrdersImg.png" id="orders-img"></span>
						
						<div th:if="${#lists.isEmpty(ordini)}">
						       <p>Nessun ordine effettuato</p>
						   </div>
						
						<table>
					        <thead>
					            <tr>
					                <th>ID Ordine</th>
					                <th>Totale</th>
					                <th>Dettagli</th>
					            </tr>
					        </thead>
					        <tbody>
					            <tr th:each="ordine : ${ordini}">
					                <td th:text="${ordine.id}"></td>
					                <td th:text="${ordine.totale}"></td>
					                <td>
					                    <a th:href="@{/ordini/dettagli-ordine/{id}(id=${ordine.id})}">
										    	<button type="submit" class="btn-details">VISUALIZZA<i class="fas fa-receipt"></i></button>   
										</a>
										
					                </td>
					            </tr>
					        </tbody>
					    </table>
						
						<table>
							<h1 id="order-details-title">Dettagli ordine #<span th:text="${dettaglioOrdine.id}"></span></h1>
					        <thead>
					            <tr>
					                <th>Prodotto</th>
					                <th>Quantità</th>
					                <th>Prezzo Unitario</th>
					                <th>Totale</th>
					            </tr>
					        </thead>
					        <tbody>
					            <tr th:each="riga : ${dettaglioOrdine.righeOrdine}">
					                <td th:text="${riga.nomePizza}"></td>
					                <td th:text="${riga.quantita}"></td>
					                <td th:text="${riga.prezzoUnitario}"></td>
					                <td class="total-cell" th:text="${riga.prezzoUnitario * riga.quantita}">0.00</td>
					            </tr>
					        </tbody>
					        <tfoot>
					            <tr>
					                <td colspan="3"><strong>Totale Ordine (con consegna):</strong></td>
					                <td th:text="${dettaglioOrdine.totale}"></td>
					            </tr>
					        </tfoot>
					    </table>
						
						<table>
					        <thead>
					            <tr>
					                <th>Nome</th>
					                <th>Cognome</th>
					                <th>Indirizzo</th>
					                <th>Data e orario</th>
					            </tr>
					        </thead>
					        <tbody>
					            <tr>
					                <td th:text="${dettaglioOrdine.nome}"></td>
					                <td th:text="${dettaglioOrdine.cognome}"></td>
					                <td th:text="${dettaglioOrdine.indirizzo}"></td>
					                <td th:text="${dettaglioOrdine.dataOraConsegna}"></td>
					            </tr>
					        </tbody>
					    </table>
						
						<div>
							<a href="/user">
							    	<button type="submit" class="btn-details">RITORNA AL PROFILO<i class="fas fa-arrow-left"></i></button>   
							</a>
						</div>
					</div>
				</div>
			</section>
	<footer>
	<div class="footer-container">
		<div>p</div>
	</div>
	</footer>
</body>
</html>