<!DOCTYPE html>
<html>
<head>
    <title>Pizze</title>
    <link rel="stylesheet" href="/css/stile.css?version=2"/>
	<link rel="stylesheet" href="/css/pizze.css"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
	
	<!--HEADER-->
		<header>
			<div class="header-container">	
				<img id="siwPizzeria" src="/images/siwPizzeriaD.gif">
				
				<div class="search-container">
					<form class="search-form" th:action="@{/searchPizza}" method="POST" th:object="${pizza}">
						<div class="searchSubmit-container">
							<div class="form-group">
								<input class="search-input" required type="text" placeholder="Cerca una pizza..." th:field="${pizza.nome}" />
							</div>
							<button type="submit" class="search-button"><i class="fa fa-search"></i></button>
						</div>
						<div th:if="${#fields.hasErrors('nome')}" class="error-container">
							<span th:errors="*{nome}" class="error-message"></span>
						</div>
					</form>
				</div>
				
				<span>
					<a href="/" class="header-item">
									<img src="images/header/pizza.png" alt="Homepage" class="image">
									<span>HOMEPAGE</span>
					</a>
				</span>	
				<span>
					<a href="/redirectByRole" class="header-item">
									<img src="images/header/menu.png" alt="Menu" class="image">
									<span>MENU</span>
					</a>
				</span>	
				<span>
					<a href="/carrello" class="header-item">
						<img src="/images/header/carrello.png" alt="Carrello" class="image">
						<span>CARRELLO</span>
						<span class="cart-count" th:if="${totalPizzaCount > 0}" th:text="${totalPizzaCount}"></span>
					</a>
				</span>		
				<span>
					<a href="/orari" class="header-item">
									<img src="images/header/orologio.png" alt="Orari" class="image">
									<span>ORARI</span>
					</a>
				</span>
				<span>
					<a th:href="${authentication != null ? '/user' : '/login'}" class="header-item">
				    	<img src="images/header/loginIcon.png" alt="Account" class="image">
						<span class="user-link">
					        <span>ACCOUNT</span>
					        <span th:if="${authentication != null}">
					        	<p id="user"><span th:text="${authentication.principal.username}">No Username</span></p>
					        </span>
						</span>
				   </a>
				</span>
			</div>
		</header>
    <span class="logo-secondarie">
		<div id="menuIcon">
			<img src="/images/pizze/menu.png">
		</div>
		<a href="/"><img src="/images/newLogo.png" width="30%" class="logo"/></a>
		<div id="pizzaFumante">
			<img src="/images/pizze/pizzaFumante.gif">
		</div>
    </span>
	    <div class="pizze-container">
			<div class="pizze-item">
	        <img src="/images/pizze/menuPizzeImg.png" id="menuPizzeImgUser">
	        <div th:if="${pizze.isEmpty()}">Non ci sono pizze inserite</div>
	        <ul class="pizza-list">
	            <li th:each="pizza : ${pizze}" class="pizza">
	                <a th:href="@{'/pizza/' + ${pizza.id}}" th:text="${pizza.nome}" class="orange-button"></a>
					<img th:src="@{'/uploads/' + ${pizza.pathImage}}" alt="Foto di ${pizza.nome}" class="pizza-image"/>
	            </li>
	        </ul>
	    	</div>
		</div>
		<footer>
			<div class="footer-container">
				<div>p</div>
			</div>
		</footer>
</body>
</html>