<!DOCTYPE html>
<html>

<head>
	<title>Pizza</title>
	<link rel="stylesheet" href="/css/stile.css?version=2"/>
	<link rel="stylesheet" href="/css/pizza.css?version=2"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
	
	<!--HEADER-->
	<header>
		<div class="header-container">	
			<img id="siwPizzeria" src="/images/siwPizzeriaD.gif">
			
			<div class="search-container">
				<form class="search-form" th:action="@{/searchPizza}" method="POST" th:object="${searchPizza}">
					<div class="searchSubmit-container">
						<div class="form-group">
							<input class="search-input" required type="text" placeholder="Cerca una pizza..." th:field="${searchPizza.nome}" />
						</div>
						<button type="submit" class="search-button"><i class="fa fa-search"></i></button>
					</div>
					<div th:if="${#fields.hasErrors('nome')}" class="error-container">
						<span th:errors="*{nome}" class="error-message"></span>
					</div>
				</form>
			</div>
						
			<span>
				<a href="/" class="header-item">
								<img src="/images/header/pizza.png" alt="Homepage" class="image">
								<span>HOMEPAGE</span>
				</a>
			</span>	
			<span>
				<a href="/redirectByRole" class="header-item">
								<img src="/images/header/menu.png" alt="Menu" class="image">
								<span>MENU</span>
				</a>
			</span>	
			<span>
				<a href="/carrello" class="header-item">
					<img src="/images/header/carrello.png" alt="Carrello" class="image">
					<span>CARRELLO</span>
				</a>
			</span>		
			<span>
				<a href="/orari" class="header-item">
								<img src="/images/header/orologio.png" alt="Orari" class="image">
								<span>ORARI</span>
				</a>
			</span>
			<span>
			<a th:href="${authentication != null ? '/user' : '/login'}" class="header-item">
		    	<img src="/images/header/loginIcon.png" alt="Account" class="image">
				<span class="user-link">
			        <span>ACCOUNT</span>
			        <span th:if="${authentication != null}">
			        	<p id="user"><span th:text="${authentication.principal.username}">No Username</span></p>
			        </span>
				</span>
		   </a>
			</span>
		</div>
	</header>
	
			<span class="row-flex-container">
				<img src="/images/pizza/fattorino.png" id="fattorinoImg">
				<a href="/"><img src="/images/newLogo.png" width="30%" class="logo"/></a>
				<img src="/images/pizza/pizzetta.png" id="pizzettaImg">
		    </span>
	
	<div class="main-container">
		<div class="pizza-container">
			<div class="titleInfo-container">
				<h1>
					<span th:text="${pizza.nome}" id="pizza-title">Nome</span>
				</h1>
				<div class="img-info-container">
					<div class="img-form-container">
					<img th:src="@{'/uploads/' + ${pizza.pathImage}}" alt="Foto di ${pizza.nome}" id="selectedPizzaImg"/>
					
					<div class="info-pizza">
						<div class="ingredienti">
							<div class="dettagli-pizza">
								<h1>Ingredienti</h1>
									<span th:text="'(' + ${pizza.descrizione} + ')'" id="elenco-ingredienti">Descrizione</span>
							</div>		
						</div>
						<div class="prezzo-container">
							<h2>Prezzo: </h2>
							<span th:text="${#numbers.formatDecimal(pizza.prezzo, 0, 2)}">Prezzo</span><span> €</span>
						</div>
					</div>
					</div>
				</div>
			</div>
			<form th:action="@{/carrello/aggiungi/{pizzaId}(pizzaId=${pizza.id})}" method="POST" class="add-to-cart-form">
				<div class="quantità-button-container">
				    <div class="quantita-container">
				        <label for="quantita" class="quantita">Quantità:</label>
				        <input type="number" id="quantita" name="quantita" min="1" value="1" required class="input-quantita">
				    </div>
				    <button type="submit" class="add-to-cart-button">AGGIUNGI AL CARRELLO<i class="fas fa-shopping-cart"></i></button>
				</div>
			</form>
		</div>
	</div>
	<footer>
		<div class="footer-container">
			<div>p</div>
		</div>
	</footer>
</body>

</html>