<!DOCTYPE html>
<html>
<head>
    <title>Pizze</title>
    <link rel="stylesheet" href="/css/stile.css?version=2"/>
</head>
<body>
    <div>
        <a href="/"><img src="/images/logo.jpg" width="30%" class="logo"/></a>
    </div>
	    <div class="row-flex-container">
			<div class="flex-item">
	        <h1 class="title">Pizze</h1>
	        <div th:if="${pizze.isEmpty()}">Non ci sono pizze inserite</div>
	        <ul>
	            <li th:each="pizza : ${pizze}" class="item">
	                <a th:href="@{'/pizza/' + ${pizza.id}}" th:text="${pizza.nome}" class="orange-button"></a>
	            </li>
	        </ul>
	    	</div>
		</div>
</body>
</html>