.form-item {
	background-color: rgba(255, 255, 255, 0.9); /* Sfondo bianco semi-trasparente */
	border-radius: 10px;
	border: 10px solid rgb(255, 128, 0); 
	padding: 10px;
}

.submit-button {
  display: inline-block;
  padding: 10px;
  background-color:red;
  border: none;
  border-radius: 20px;
  color: black;
  font-size: 20px;
  cursor: pointer;
  color: white;
  font-weight: bold;
}

.submit-button:hover {
  background-color:  #c82333;
}

.error-message {
    margin-top: 20px;
    color: red;
    font-weight: bold;
}

/* ----------------------------------------------FORM AGGIUNGI PIZZA------------------------------------------------------------------------*/
.form-container {
    display: flex; 
	justify-content: center;
}

.form {
    display: flex;
	flex-direction: column;    
	justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-title{
	font-family: fantasy;
	margin-top: 0px;
}

.data-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
	border-radius: 5px;
	padding: 15px;
}

.input {   
    border: none;
    outline: none;
    width: 320px; /* Width of the input field */
    font-size: 16px;
	border-bottom: 3px solid darkgray; /* Aggiungi una linea sottile sotto il campo di input */
	background-color: transparent; /* Rimuove il colore di sfondo per mostrare solo la sottolineatura */
}

.input:focus {
    border-bottom: 3px solid black; /* Cambia il colore della sottolineatura quando il campo è attivo */
}

.fa-plus{
	margin-left: 100px;
}

.price-container{
	display: flex;
	align-items: center;
	height: 20px;
	margin-left: 57px;	
}

.valuta{
	margin-left: 10px;
}

.file-container {
    width: 100%;
    padding: 10px;
    border: 3px solid rgb(192, 192, 192);
    border-radius: 5px;
    margin: 15px;
}

#file{
	font-size: 20px;
}

.submit-button {
    background-color:white;
    border: none;
    color:black;
    cursor: pointer;
    display: flex;
	align-items: center;
	border-radius: 25px;
	background-color: rgb(192, 167, 63);
	font-size: 22px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.submit-button i {
    font-size: 18px;
}

.submit-button:hover {
    background-color: grey;
}

.submit-input::placeholder {
    color: #999;
    font-style: italic;
}
/*-----------------------------------------------------------------------------------------------------------------------------------*/
/* ----------------------------------------------FORM LOGIN E REGISTRAZIONE------------------------------------------------------------------------*/
.account-container{
	display: flex;
	justify-content: center;
	align-items: center;
}

.account-form{
	display: flex;
	flex-direction: column;
	background-color: rgb(255, 255, 255, 0.9);
	border: 9px solid rgb(0, 0, 0);
	border-radius: 7px;
	padding: 15px;
}

.login-registration-container{
	display: flex;
	justify-content: space-around;
	width: 750px;
	height: auto;
}

.login-form{
    display: flex;
	flex-direction: column;    
	justify-content: center;
	align-items: center;
	
}

.login-data-container, .registration-data-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 5px;
	background-color: rgb(255, 255, 255);
	border: 2px solid rgb(0, 0, 0);
	padding-left: 20px;
	padding-right: 20px;
}

#login-button , #add-button, #remove-button{
	border: none;
	color:black;
	cursor: pointer;
	border-radius: 25px;
	background-color: rgb(192, 167, 63);
	font-size: 22px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	padding: 10px;
}

#login-button i{
	font-size: 20px;
	margin-left: 80px;
}

#login-button:hover ,#add-button:hover, #remove-button:hover{
    background-color: grey;
}

#login-img{
	width: 60%;
	height: auto;
}

#register-button{
	border: none;
	color:black;
	cursor: pointer;
	border-radius: 25px;
	background-color: rgb(192, 167, 63);
	font-size: 22px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	padding: 10px;
}

#register-button i, #add-button i, #remove-button i{
	font-size: 20px;
	margin-left: 80px;
}

#register-button:hover {
    background-color: grey;
}

.registration-complete p{
	color: blue;
}
/*-----------------------------------------------------------------------------------------------------------------------------------*/
/* ----------------------------------------------FORM GESTIONE PIZZE------------------------------------------------------------*/
.gestione-container{
	display: flex;
	justify-content: center;
	align-items: center;
}

.form-gestione{
	display: flex;
	flex-direction: column;
	background-color: rgb(255, 255, 255, 0.9);
	border: 9px solid rgb(0, 0, 0);
	border-radius: 7px;
	padding: 15px;
}

.add-remove-container{
	display: flex;
	justify-content: space-around;
	width: 1000px;
	height: auto;
}

.add-form, .remove-form{
	display: flex;
	flex-direction: column;    
	justify-content: center;
	align-items: center;
}

.remove-data-container, .add-data-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 5px;
	background-color: rgb(255, 255, 255);
	border: 2px solid rgb(0, 0, 0);
	padding: 20px;
}
/*-----------------------------------------------------------------------------------------------------------------------------------*/