.main-container{
	display: flex;
	flex-direction: column;
}

.pizza-container{
	display: flex;
	flex-direction: column;
	background-color: rgb(255, 128, 0, 0.9);
	border-radius: 20px;
	border: 8px solid;
	border-color: black;
	width: 1200px;
	height: auto;
}

.titleInfo-container{
	display: flex;
	flex-direction: column;
}

.info-pizza{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.ingredienti{
	background-color: rgb(255, 255, 255);
	border: 8px solid;
	border-radius: 15px;
	border-color: rgb(0, 0, 0);
	font-size: 20px;
	color: rgb(0, 0, 0);
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
}

.ingredienti h1{
	font-family: cursive;
}

.img-info-container{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.img-form-container{
	display: flex;
	padding-left: 80px;
}

#selectedPizzaImg{
	width: 60%;
	height: 60%;
	border-radius: 10px;
}

#pizza-title{
	font-family: 'Courier New', Courier, monospace;
	font-size: 45px;
}

#pizzaioloImg{
	width: 300px;
	height: auto;
}

.prezzo-container{
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	border-radius: 10px;
	border: 8px solid;
	border-color: rgb(0, 0, 0);
	font-size: 22px;
	font-weight: bold;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
}

#fattorinoImg, #pizzettaImg{
	width: 400px;
	height: auto;
}

.add-to-cart-form {
    display: flex;
	flex-direction: column;
    align-items: center;
}

.quantita-container {
    display: flex;
    align-items: center;
    gap: 5px; /* Spazio tra l'etichetta e l'input */
}

.quantita{
	font-size: 22px;
	padding-left: 75px;
}

.input-quantita {
    width: 60px; /* Riduce la larghezza dell'input */
    padding: 5px;
    text-align: center; /* Centra il numero nell'input */
	font-size: 20px;
}

.add-to-cart-button {
    padding: 10px;
	background-color:white;
    border: none;
    color:black;
    cursor: pointer;
    display: flex;
	align-items: center;
	border-radius: 25px;
	background-color: rgb(192, 167, 63);
	font-size: 22px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.add-to-cart-button i{
	margin-left: 50px;
}

.add-to-cart-button:hover{
	background-color: grey;
}

.quantità-button-container{
	background-color: white;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	border: solid 3px black;
	border-radius: 20px;
}