body {
  font-family: Arial, sans-serif;
  background-image: url('/images/background.jpg');
  background-repeat: repeat; /* Ripete il pattern */
  background-size: cover; /* Copre l'intera area */
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

/* ----------------------------------------------STILE BARRA RICERCA---------------------------------------------------------------------*/
.search-container {
    display: flex; 
	align-items: center;
}

.search-form {
    display: flex;
	flex-direction: column;    
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	margin-right: 20px;
	margin-bottom: 15px;
}

.searchSubmit-container{
	display: flex;
	background-color: white;
	border-radius: 5px;
	padding-left: 10px;
	margin-bottom: 0px;
}

.search-input {   
    border: none;
    outline: none;
    width: 320px; /* Width of the input field */
    font-size: 16px;
	border-bottom: 3px solid darkgray; /* Aggiungi una linea sottile sotto il campo di input */
	background-color: transparent; /* Rimuove il colore di sfondo per mostrare solo la sottolineatura */
}

.search-input:focus {
    border-bottom: 3px solid black; /* Cambia il colore della sottolineatura quando il campo è attivo */
}

.search-button {
    background-color:white;
    border: none;
    color:black;
    width: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
	border-radius: 10px;
}

.search-button i {
    font-size: 18px;
}

.search-button:hover {
    background-color: grey;
}

.search-input::placeholder {
    color: #999;
    font-style: italic;
}
.error-container{
	display: flex;
	margin-bottom: 0px;
}
/*-----------------------------------------------------------------------------------------------------------------------------------*/
.logo {
  display: block;
  margin: 0 auto 20px;
  width: 400px; /* Imposta una larghezza fissa per il logo */
  height: 400px; /* Imposta un'altezza fissa per il logo */
  border-radius: 30%; /* Trasforma l'immagine in un cerchio */
  object-position: center center; /* Centra l'immagine orizzontalmente e verticalmente */
  
}

.logo-secondarie{
	display: flex;
	justify-content: center;
}

.header-container {
  display: flex; /* Visualizza i container uno accanto all'altro */
  justify-content: flex-end;
  align-items: center;
  background-color: rgb(0, 0, 0);
  height: 180px;
}

.header-item {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
	margin: 25px;
}

#siwPizzeria{
	height: 90px;
}
.image {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-right: 10px;
}

.row-flex-container {
  display: flex; /* Visualizza i container uno accanto all'altro */
  justify-content: space-around;
  align-items: center; /* Centra gli elementi verticalmente */
}

.column-flex-container {
  display: flex; /* Visualizza i container uno accanto all'altro */
  flex-direction: column;
  justify-content: space-around;
  align-items: center; /* Centra gli elementi verticalmente */
}

.flex-item {
	background-color: rgba(255, 255, 255, 0.9); /* Sfondo bianco semi-trasparente */
	width: 20%;
	padding: 10px;
	border-radius: 10px;
	border: 8px solid #dc3545; /* Bordo rosso */
}

div {
  text-align: center; /* Centra il testo all'interno del div */
  margin: 20px auto; /* Spazio attorno al div */
}

a {
  display: block; /* Mostra i link come blocchi */
  margin-bottom: 10px; /* Spazio tra i link */
  text-decoration: none; /* Rimuovi la sottolineatura */
}
/* ----------------------------------------------STILE SWIPER--------------------------------------------------------------------------*/
.primo-swiper {
   position: relative; /* Importante per il posizionamento assoluto dei pulsanti */
   margin: 20px;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: rgb(0, 0, 0, 0.8); /* Sfondo bianco semi-trasparente */
   border-radius: 15px;
   overflow: hidden; /* Nasconde l'overflow orizzontale */
 }
 .primo-swiper-slide {
     display: flex;
     flex-direction: column;
     align-items: center;
     text-align: center;
 }
 .primo-swiper-slide img {
		width: 300px; /* Adjust the size as needed */
	    height: 300px; /* Ensure it remains a square */
	    border-radius: 50%;
 }
 .swiper-pagination{
	position: absolute; /* necessario per posizionare la paginazione in basso */
	margin-bottom: 1px;
 }
 .swiper-pagination-bullet {
   background: rgb(255, 255, 255); /* Colore dei puntini di paginazione */
 }
 .primo-next,
 .primo-prev {
   position:absolute;
   color: rgb(255, 255, 255); /* Colore delle frecce di navigazione */
   font-size: 50px;
 }

 /* Nascondi le frecce predefinite di Swiper */
     .primo-next::after,
     .primo-prev::after {
       display: none;
     }
 #slider-img{
	background-color: rgb(255, 128, 64, 0.9);
	border-radius: 10px;
 }
 .price{
	color: white;
	font-size: 20px;
	font: bold;
 }
 .nome-pizza{
	color: white;
	font-size: 22px;
	font: bold;
	text-align: center;
 }
 /*-----------------------------------------------------------------------------------------------------------------------------------*/
 .flip-img {
   background-color: transparent;
   width: 380px;
   height: 380px;
   perspective: 1000px;
   margin: 20px;
 }
 .flip-img-rotation {
   position: relative;
   width: 100%;
   height: 100%;
   text-align: center;
   transition: transform 0.6s;
   transform-style: preserve-3d;
   cursor: pointer;
 }
 .flip-img:hover .flip-img-rotation {
   transform: rotateY(180deg);
 }
 .flip-img-front,
 .flip-img-back {
   position: absolute;
   width: 100%;
   height: 100%;
   backface-visibility: hidden;
   border-radius: 50%;
 }
 .flip-img-front {
   background-color: #bbb;
   color: black;
 }

 .flip-img-back {
   background-color: #2980b9;
   color: white;
   transform: rotateY(180deg);
 }

 .flip-img img {
   width: 100%;
   height: 100%;
   border-radius: 50%;
 }
 
/* ----------------------------------------------STILE PER CAROSELLO IMMAGINI---------------------------------------------------------*/
.carousel {
    position: relative;
    width: 95%;
    margin: auto;
    overflow: hidden;
    perspective: 1000px; /* Aggiungi prospettiva */
}

.carousel-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform-style: preserve-3d; /* Necessario per la prospettiva */
}

.carousel-item {
    min-width: 33.333%; /* Mostra 3 elementi alla volta */
    box-sizing: border-box;
    transition: transform 0.5s, opacity 0.5s;
    transform: scale(0.7); /* Riduci le immagini laterali */
}

.carousel-item.active {
    transform: scale(1.2); /* Ingrandisci l'immagine centrale */
}

.carousel-item img {
    width: 100%;
    display: block;
    transition: opacity 0.5s;
}

.carousel-item.active img {
    opacity: 1;
}

.carousel-item:not(.active) img {
    opacity: 0.5; /* Opacità per le immagini laterali */
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
	background-color: rgb(255, 255, 255, 0.8);
}

.prev img, .next img {
    width: 50px; /* Dimensione delle icone dei pulsanti */
    height: 50px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}
#carosello-img{
	background-color: rgb(255, 128, 64, 0.9);
	width:500px;
	height:205px;
	border-radius: 10px;
}
 /*-----------------------------------------------------------------------------------------------------------------------------------*/
.red-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #dc3545; /* Colore rosso */
  color: #fff; /* Colore del testo */
  text-decoration: none; /* Rimuovi la sottolineatura */
  border-radius: 20px; /* Angoli arrotondati */
  transition: background-color 0.3s; /* Animazione al passaggio del mouse */
}

a.red-button:hover {
  background-color: #c82333; /* Cambia il colore al passaggio del mouse */
}
#button-cerca-pizza{
	  display: inline-block;
	  padding: 10px 20px;
	  background-color: #dc3545; /* Colore rosso */
	  width: 100px;
	  color: #fff; /* Colore del testo */
	  text-decoration: none; /* Rimuovi la sottolineatura */
	  border-radius: 20px; /* Angoli arrotondati */
	  transition: background-color 0.3s; /* Animazione al passaggio del mouse */
	  margin-right: 160px;
	  font-size: 20px;
}
#button-cerca-pizza:hover {
  background-color: #c82333; /* Cambia il colore al passaggio del mouse */
}
.error-message {
    margin-top: 20px;
    color: red;
    font-weight: bold;
	margin: 8px;
}